<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <!-- Add any additional meta tags, CSS links, or other head elements here -->
</head>
<body>
    <!-- {% if user_nom %} -->
        <h1>Welcome to {{ profile.email }}!</h1>
    <!-- {% else %}
        <h1>Welcome!</h1>
    {% endif %} -->

   
    <main>
        <!-- Add main content here -->
        <section id="associations">
            <h2>Associations</h2>
            <ul>
                {% for association in associations %}
                    <li>{{ association.nom }} - {{ association.information }}</li>
                {% endfor %}
            </ul>
        </section>
    </main>

    
    <!-- Add any additional scripts or other body elements here -->
</body>
</html>
